#Ignore files build by Visual Studio
*.obj
#*.exe
*.pdb
#*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
!TechElevator*.dll
*.lib
*.sbr
bin/
obj/
packages/
.vs/

Debug/
x64/
*.sln
*.filters
*.vcxproj
*.user